---
import Layout from '../layouts/Layout.astro';

import BentoGrid from '../components/BentoGrid.astro';
import Footer from '../components/Footer.astro';
import Intro from '../components/Intro.astro';
import PreFooter from '../components/PreFooter.astro';
import Video from '../components/Video.astro';

---

<Layout title="Template with Astro" description="SEO description">

	<Video />

	<main>
		<Intro />
		<BentoGrid />
		<PreFooter />

	</main>
	<Footer />
</Layout>

<style>
	
</style>
