---
import BentoItem from "./BentoItem.astro";
---

<section
  class="w-full max-w-[1400px]
grid lg:grid-cols-10 auto-rows-[30rem] gap-4
mx-auto p-6 md:p-12 lg:p-20"
>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title="El Arte del Café: Más Allá de la Taza"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-center bg-no-repeat opacity-50 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/bento/arts-coffee.jpg')"
    >
    </div>
    <p slot="content" class="max-w-xl text-base md:text-lg">
      Desde las raíces de la plantación hasta la fragancia que llena tu taza,
      exploraremos juntos el <strong
        >arte del café más allá de la simple bebida.</strong
      > Sumérgete con nosotros en esta experiencia única, donde cada artículo es
      una invitación a descubrir la magia detrás de cada grano.
    </p>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Café y Sostenibilidad: Un Maridaje Necesario"
    subtitle="De la plantación a la conciencia."
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-50 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/bento/sustainability-coffee.jpg')"
    >
    </div>
    <p slot="content" class="max-w-xl text-base md:text-lg">
      Exploramos el café sostenible: cómo cada sorbo puede ser un acto
      responsable. <strong>Uniendo placer y conciencia</strong>, descubre este
      maridaje vital.
    </p>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Café y Salud: Desentrañando los Beneficios y Mitos"
    subtitle="¿Realidad o ficción?"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-50 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/bento/health-coffee.jpg')"
    >
    </div>
    <p slot="content" class="max-w-xl text-base md:text-lg">
      Descubre cómo el café, con <strong>moderación</strong>, puede potenciar tu
      bienestar físico y mental.
    </p>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-4"
    title="La Cultura del Café en el Siglo XXI: Tendencias y Tradiciones"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-50 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('/bento/culture-coffee.jpg')"
    >
    </div>
    <p slot="content" class="max-w-xl text-base md:text-lg">
      Explora la riqueza de la cultura del café en <strong
        >festivales internacionales</strong
      >, días dedicados, <strong>competiciones de baristas</strong> y celebraciones
      de cosechas. Sumérgete en eventos que fusionan la pasión por el café con la
      diversidad cultural del siglo XXI.
    </p>
  </BentoItem>
</section>
