<section class="text-xl text-left max-w-[60ch] text-pretty mx-auto my-12">

    <img class="w-32 m-auto" src="/logo.svg" alt="Logo de coffee land">

    <h1 class="test-5xl font-semibold text-center text-wrap mx-auto mt-10 mb-10 tracking-wide">Bienvenidos/as <br /> a nuestro blog de café </h1>
    
    <p> En este rincón digital, exploraremos juntos el fascinante <strong>mundo del café</strong>, donde cada taza cuenta una historia única. Desde los exuberantes campos de cultivo hasta la meticulosa preparación en la taza.</p>

    <p>Nuestro blog está diseñado para aquellos que buscan más que una simple bebida caliente: <strong>buscamos descubrir la esencia misma de esta infusión</strong> que ha cautivado corazones y desatado conversaciones a lo largo de los siglos.</p>
    
    <p>No solo nos sumergiremos en la rica historia y origen geográfico de los granos de café, sino que también exploraremos las diversas técnicas de preparación que dan vida a sus distintos perfiles de sabor. <strong>¡ACOMPAÑANOS Y DESCUBRAMOS JUNTOS ESTE MARAVILLOSO MUNDO!</strong></p>

</section>