<div class="w-full relative">
  <img
    class="absolute top-10 z-10 left-0 right-0 m-auto w-auto opacity-70"
    src="/logo-home-crown.svg"
    alt="Logo de café"
  />
  <video
    class="h-screen w-full object-cover object-top opacity-70"
    style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);"
    src="/video.webm"
    autoplay
    loop
    muted></video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/video.webm"
    autoplay
    loop
    muted></video>
</div>
